:root {

    --color-negativa: #3a4042;
    --color-luz-negativa: rgba(58, 64, 66, 0.15);
    --color-zero: #ffffff;
    --color-primeira: #f25a70;

    --color-segunda: #eeeeee;
    --color-terceira: #9b9b9b;
    --color-quarta: #707070;
    --color-quinta: #828282;

    --color-sexta: #fffcee;
    --color-setima: #f4f1e4;
    --color-oitava: #eae6da;
}